<%- include('partials/header'); -%>



<h2>Compose</h2>

<form action="" method="post">

<input type="text" name="">
<button type="submit" name="button">Publish</button>


</form>






<%- include('partials/footer'); -%>